body{
    background-color: #333333 !important;
}
main {
    margin-left: 0px;
    padding: 0px;
    width:auto;
    color: white;
    text-align: left;
}

.row-p{
    background-color: black;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input{
    border-radius: 50px;
}

.row-top{
    box-shadow: -7px -1px 15px 0px black;
    padding-bottom: 10px;
}