html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #020202 !important;
    color: #1d1a1a;
    overflow-x: hidden;
}


@media (max-height: 768px) {
    .progress-container, .row-container {
        flex-direction: column;
    }

    .number {
        font-size: 1.2rem;
    }
}

.sidebar {
    min-height: 100vh;
    width: 80px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.sidebar a {
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a .icon {
    margin-right: 0;
}

.sidebar a:hover {
    background-color:#c2261b;
}

#sidebar_logo{
    position: fixed;
    bottom: 15px;
}

#logo_sidebar{
    display: block;
    position: fixed;
    bottom: 18px;
    left: 70px;
    font-size: 31px;
}

#logo_sidebar .hilight{
    color: #c2261b;
    font-weight: bold;
}

#sidebar_expand{
    background-color: black;
    width: 300px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 200;
    left: 80px;
    display: none;
    position: fixed;
    color: white;
    text-align: left;
}

#sidebar_expand .container-fluid{
    height: 90%;
    overflow-y: auto;
}
#sidebar_expand .item:hover{
    background-color:#c2261b;
}
#sidebar_expand div a{
    text-align: left;
    display: block;
    padding: 6px;
    margin: 0px;
    text-decoration: none;
}
#sidebar_expand div a:hover{
    background-color: unset;
}

.item-m-hide{
    display: none !important;
}

.txt_error{
    color: #c2261b !important;
}

.icon {
    font-size: 24px;
}

main,.bar_head{
    margin-left: 4em;
    padding: 20px;
    width: calc(100% - 80px);
}

.container-fluid {
    height: 100%;
}

.screen {
    height: 100%;
}
.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
}

.toggle-buttons button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    border-radius: 0;
    font-weight: bolder;
}

.toggle-buttons button.active {
    background-color: white;
    color: black;
}

.toggle-buttons button:not(.active) {
    background-color: #333333;
    color: #888;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.select-container,
.barcode {
    margin-right: 5px;
}

.select-container:last-child,
.barcode:last-child {
    margin-right: 0;
}

select {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

/* css menu select */
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #eddbdb;
    width: 50%;
    border-radius: 22px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

/* Style icon and text */
.select-container i,
.select-container span {
    cursor: pointer;
}

/* barcode */
.barcode {
    width: 50%;
    border-radius: 18px;
    padding: 4px;
    display: flex;
    background-color: #000000;
}

.barcode i {
    color: #fff;
    margin-left: 9px;
    margin-top: 1px;
}

.barcode span {
    margin-left: 9px;
    color: #fff;
}

/* progess container */
.progress-container {
    border-radius: 5px;
    float: left;
    width: 100%;
}

.progress-top {
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    color: #e3e3e3;
    font-size: larger;
    width: 100%;
    height: 35px;
}

.progress-top span {
    padding: 3px;
    margin-left: 7px;
}

.progress-bar {
    background-color: #333333;
    margin-top: 5px;
    overflow: hidden;
}

#progress_step{
    height: 35px;
    background-color: #333333;
    border-radius: 0px;
    position: relative;
}

#progress_step .info{
    position: relative;
    font-size: 15px;
    width: 100%;
    right: 0px;
}

#progress_step .info #lbStep_label{
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

#progress_step .info #lbStep_count{
    float: right;
    margin-top: 9px;
    margin-right: 10px;
}

.progress-fill {
    background-color: #3a6815;
    width: 50%;
    border-right: solid 3px #61AE24;
}

.progress-label {
    position: absolute;
    left: 10px;
    color: white;
}

.progress-status {
    position: absolute;
    right: 10px;
    color: white;
}

.row-container {
    color: white;
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    flex-direction:row
}
.row {
    display: flex;
    justify-content: space-between;
}

#task-icon i {
    font-size: 144px;
    margin-top: 13px;
}

.icon-contaner {
    height: 94%;
    width: 365px;
    /* Fixed width for the icon container */
    background-color: #61AE24;
    /* Green background color for the icon block */
    display: flex;
    justify-content: center;
    align-items: center;
}


#task-all {
    float: left;
    width: 100%;
    margin-left: 3px;
}

#task-all .task-item {
    float: left;
    width: 100%;
    background-color: #333333;
    margin-bottom: 3px;
}

#task-all .task-item .txt {
    font-size: xx-large;
    margin-top: 12px;
    margin-left: 12px;
}

#task-element .task-item {
    font-size: xx-large;
    padding: 2%;
}

.lager-icon {
    height: 94%;
    width: 350px;
    float: left;
    background-color: #61AE24;
}
.til-lager-icon{
    display: flex;
    justify-content:space-between;
    width: 350px;
    float: left;
    background-color: #61AE24;
    padding: 0 1em;
}
#tilt_angle{
    font-size: xx-large;
}
.tilt-icon{
    display: flex;
}
.lager-icon i {
    float: left;
    font-size: 26px;
    margin-top: 10px;
    margin-left: 10px;
}

.lager-icon .title {
    font-size: 1vw;
    margin-left: 15px;
    float: left;
    margin-top: 11px;
}

.lager-icon .number {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.lager-icon.oranger {
    color: white;
    margin-bottom: 15px;
}

.lager-icon.oranger .number {
    width: auto;
    font-size: 33px;
    float: right;
    margin-right: 11px;
    margin-top: 11px;
}

.list-attr {
    float: left;
    margin-left: 3px;
}

.list-attr .attr-item {
    float: left;
    width: 100%;
    background-color: #333333;
    margin-bottom: 3px;
    font-size: xx-large;
}

.list-attr .attr-item .txt {
    float: right;
    margin-top: 15px;
    margin-right: 8px;
}

.list-attr .attr-item .icon {
    float: left;
}

.attr-item.horizontal-icon {
    background-color: unset;
}

.attr-item.horizontal-icon .icon {
    background-color: #a0a0a0;
    width: 40px;
    margin: 4.4px;
    text-align: center;
    border-radius: 37px;
    margin-top: 11px;
}

.attr-item.horizontal-icon .icon i {
    margin-top: 11px;
    font-size: 21px;
    color: #252222;
    cursor: pointer;
}


.location {
    background-color: #333333;
    float: left;
    padding: 7px;
    border-radius: 112px;
    width: 220px;
    cursor: pointer;
}

.location i {
    color: #61AE24;
    position: relative;
    font-size: 31px;
    top: -2px;
    left: 3px;
    float: left;
}

.location .txt {
    float: left;
    font-size: 18px;
    margin-left: 21px;
    margin-top: 5px;
}

.d-left {
    float: left;
}

.d-right {
    float: right;
}

.menu-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.menu-sidebar .menu-bottom-item {
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 41px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.menu-sidebar .menu-bottom-item.active {
    color: white;
}

canvas {
    width: 100% !important;
}

.custom-dropdown {
    margin-left: 44px;
}

.custom-dropdown i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.btn-top-back{
    margin-right: 15px;
}

#menu_footer{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 0px -2px 4px #00000099;
}

#menu_footer.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.btn-rounded{
    border-radius: 50px !important;
    margin-right: 3px;
    min-width: 150px;
}

.inp-rounded{
    border-radius: 50px !important;
}

.input-group.r{
    padding-top: 6px;
    border-radius: 50px !important;
    padding-bottom: 6px;
}
.input-group.r input{
    background-color: #000000;
    color: white;
    border: unset;
}
.input-group.r input::placeholder {
    opacity: 0.5;
    color:white !important;
}

.input-group.r .input-group-text{
    background-color: #000000 !important;
    border: unset;
}

.input-group.r.border{
    border: solid 1px #606060 !important;
    background-color: black;
}

.f-right{
    float: right;
}

.r-left{
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.r-right{
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.table-p-list tbody tr td{
    background-color: #000000;
}

#bk_dark_full{
    background-color:#101010b8;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    display: none;
}

#box_msg{
    width: 400px;
    position: fixed;
    z-index: 200;
    left: 50%;
    top: 50%; 
    background-color: #333333;
    color: white;
    transform: translate(-50%, -50%);
    display: none;
}

#box_msg .title{
    background-color: #4d4d4d;
}

#box_msg .title .txt{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#box_msg .title .txt img{
    width: 38px;
}

#box_msg .body{
    padding: 20px;
}

#box_msg .panel_btn{
    padding: 20px;
    text-align: right;
}

.row-title{
    box-shadow: 0px 7px 15px 0px black;
    padding-bottom: 10px;
}

body.brown{
    background-color: #333333 !important;
}

.breadcrumb{
    color: white;
}

.breadcrumb a{
    color: #01A1CB;
    text-decoration: none;
}

.row-p{
    background-color: black;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
}

.row-h{
    background-color: #4d4d4d;
    font-size: 18px;
    color: white;
}

.row-none{
    font-size: 18px;
    color: white;
}

.row-h .label-txt{
    margin-left: 5px;
}

.label-txt{
    margin-top: 22px;
    margin-bottom: 22px;
}

.val-txt{
    float: right;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 6px;
}
table thead tr th{
    font-weight: normal;
    color: #7e7e7e !important;
}

.form-select {
    -bs-form-select-bg-img:unset!important;
    background-image: unset !important;
    border: unset !important;
}

#bar_menu_top{
    box-shadow: 0px 3px 8px 0px #00000099;
}

#btn_back_menu_top{
    margin: 15px;float: left;
    margin-left: -44px;
}

#bar_footer{
    background-color: #4d4d4d;
    color: white;
}

#bar_footer.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#bar_footer.fixed2{
    position: fixed;
    bottom: 58px;
    left: 0px;
    right: 0px;
}

.btn-success{
    background-color: #61ae23 !important;
}

.btn-info{
    background-color: #00a1cb !important;
}
#list_menu_top_right a{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
}

#list_menu_top_right a:hover{
    background-color: #c2261b;
}

#list_menu_top_right a img{
    vertical-align: unset !important;
}

.btn-sort {cursor: grab;}

.col_tb_id{width: 10%;}
.col_tb_name{width: 70%;}
.col_tb_action{min-width: 30%;}
.col_tb_10p{width: 10%;}
.col_tb_20p{width: 20%;}
.col_tb_30p{width: 30%;}
.col_tb_40p{width: 40%;}
.col_tb_50p{width: 50%;}
.col_tb_60p{width: 60%;}
.col_tb_70p{width: 70%;}
.col_tb_80p{width: 80%;}
.col_tb_90p{width: 90%;}
.col_tb_100p{width: 100%;}

.col_act{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.attr_job_disable{
    opacity: 0.3;
}

#all_items .dragging{
    width: 92.4%;
    display: inline-flex;
}

.btn-warning{
    background-color:#f18d05 !important;
    border-color: #f18d05 !important;
}

.btn-c{
    display: inline-block;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 63px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    border-bottom-right-radius: 15px;
    background-color: #00a1cb !important;
    text-align: center;
    font-weight: bold;
}

.btn-o{
    background-color: white;
    color: #000000;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-align: center;
    display: inline-block;
}

.btn-o img{
    position: relative;
    bottom: -21px;
    left: -5px;
    width: 20px;
}

.btn-o img{
    position: relative;
    bottom: -21px;
    left: -5px;
    width: 20px;
}

.btn-o span{
    position: relative;
    left: 12px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
}

#btn-status{
    width: 30px;
    height: 30px;
    border-radius: 200px;
    background-color: #61ae23;
    display: block;
    float: right;
    margin-right: 9px;
}

.list_btn_bit span{
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: solid 1.2px white;
    font-size: 20px;
}

.list_btn_bit span.vin{
    background-color: #00a1cb;
    width: auto;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.list_btn_bit span.active{
    background-color: #00a1cb;
}

.sel-dropdown{
    width: 348px !important;
}

input[type="file"]::file-selector-button {
    border: unset;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: black;
    transition: 1s;
    margin-top: 3px;
    color: white;
  }
  
input[type="file"]::file-selector-button:hover {
    background-color: black;
}

#progressbar_ui {
    background-color: black;
    border-radius: 50px;
    border: solid 1px #a9a9a9;
}
  
#progressbar_ui>.val {
    background-color: #61ae23;
    width: 50%;
    height: 36px;
    border-radius: 50px;
}

#progressbar_ui>.label {
    position: absolute;
    top: 78px;
    left: 41px;
    color: white;
}

/* Extra small devices (phones, 0px and up) */
@media (max-width: 575.98px) {
    .col_tb_id{width: unset;}
    .col_tb_name{width: unset;}
    .col_tb_action{min-width: unset;}
    .col_tb_10p,.col_tb_20p,.col_tb_30p,.col_tb_40p,.col_tb_50p,.col_tb_60p,.col_tb_70p,.col_tb_80p,.col_tb_90p,.col_tb_100p{
        width: unset;
    }
    #bar_menu_top{margin-left: 80px;}
    #chartTypeSelect_dropdown{width: 263px !important;}
    #job-selection-dropdown{width: 100% !important;}
    .bar_head{margin-left: 70px;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .col_tb_id{width: unset;}
    .col_tb_name{width: unset;}
    .col_tb_action{min-width: unset;}
    .col_tb_10p,.col_tb_20p,.col_tb_30p,.col_tb_40p,.col_tb_50p,.col_tb_60p,.col_tb_70p,.col_tb_80p,.col_tb_90p,.col_tb_100p{
        width: unset;
    }
    #bar_menu_top{margin-left: 80px;}
    #chartTypeSelect_dropdown{width: 263px !important;}
    #job-selection-dropdown{width: 100% !important;}
    .bar_head{margin-left: 70px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .col_tb_id{width: unset;}
    .col_tb_name{width: unset;}
    .col_tb_action{min-width: unset;}
    .col_tb_10p,.col_tb_20p,.col_tb_30p,.col_tb_40p,.col_tb_50p,.col_tb_60p,.col_tb_70p,.col_tb_80p,.col_tb_90p,.col_tb_100p{
        width: unset;
    }
    #bar_menu_top{margin-left: 80px;}
    .bar_head{margin-left: 70px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS for devices between 992px and 1199px (desktops) */
    #bar_menu_top{margin-left: unset;}
    #chartTypeSelect_dropdown{width: unset !important;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* CSS for devices between 1200px and 1399px (large desktops) */
    #bar_menu_top{margin-left: unset;}
}

/* Extra Extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    #bar_menu_top{margin-left: unset;}
}

/* Landscape orientation */
@media (orientation: landscape) {
    /* CSS for devices in landscape mode */
}

/* Portrait orientation */
@media (orientation: portrait) {
    /* CSS for devices in portrait mode */
}


.circle-icon {
    display: flex;
    /* Align icon in center */
    justify-content: center;
    align-items: center;
    width: 5%;
    /* Adjust size as needed */
    /* Adjust size as needed */
    border-radius: 50%;
    /* Creates a circle */
    background-color: transparent;
    /* Background color (adjust as needed) */
    border: 2px solid white;
}

.custom-combobox {
    background-color: #000000 !important;
    /* Background color */
    color: white !important;
    /* Text color for options */
    border-radius: 18px !important;
    /* Rounded corners */
    padding: 10px !important;
    /* Padding for the select */
    -webkit-appearance: none !important;
    /* Remove default styling in WebKit browsers */
    -moz-appearance: none !important;
    /* Remove default styling in Firefox */
    appearance: none !important;
    /* Remove default styling */
    
}

.custom-combobox option {
    background-color: #666666;
    /* Option background color */
    color: white;
    /* Option text color */
}


.row-container {
    display: flex;
    align-items: center;
}

.red {
    background-color: #E54028 !important;
}

.green {
    background-color: #61AE24 !important;
}

.orange {
    background-color: #F18D05 !important;

}

.blue {
    background-color: #01A1CB !important;
}

.grey {
    background-color: #333333 !important;
}

.progress.progress-custom {
    background: #333333;
    font-size: x-large;
    margin-top: 8px;
    border-radius: initial;
    height: 4vh;
    color: white;
}

.progress-bar.progress-bar-custom {
    background: #46652d;
    width: 0%;
    height: 100%;
    margin: 0px;
    display: block;
    position: absolute;
    height: 36px;
    border-right: solid 3px #61ae23;
}
.progress-container{color: white;}

.ip-container {
    background-color: #444; /* Dark grey background */
    border-radius: 30px;
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

.marker {
    background-color: #4CAF50; /* Green color for the marker */
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-weight: bold;
}

.ip-address {
    font-size: x-large;
}

.PF-OP{
    background-color: #132307; /* Dark green background */
    border: 2px solid #52951e; /* Green border */
    color: #fff; /* White text color */
    font-size: x-large; /* Adjust the font size */
    border-radius: 30px; /* Rounded corners */
    text-align: center;
    padding: 0 3em
    /* font-family: Arial, sans-serif; */
    /* margin: 0 7%; */
}

.ToolsNet{
    background-color: #2e0d08; /* Dark green background */
    border: 2px solid #922919; /* Green border */
    color: #fff; /* White text color */
    font-size: x-large; /* Adjust the font size */
    border-radius: 30px; /* Rounded corners */
    text-align: center;
    padding: 0 3em
}

.Fieldbus{
    background-color: #4d4d4d; /* Dark green background */
    color: #fff; /* White text color */
    font-size: x-large; /* Adjust the font size */
    border-radius: 30px; /* Rounded corners */
    text-align: center;
    padding: 0 3em
    /* margin: 0 7%; */
}

::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: none; /* Hide scrollbar */
  }
  
  /* For IE 10+ */
  * {
    -ms-overflow-style: none; /* Hide scrollbar */
  }