main {
    margin-left: 0px;
    padding: 0px;
    width:auto;
    color: white;
    text-align: center;
}

#panel-right{
    background-color: #333333;
}

#logo-text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
}

#logo-text .hilight{
    color: #e54028;
}

.img_welcome{
    width: 80%;
    margin-bottom: 20px;
}

#box_upload{
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
}

#box_upload .body{
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 1px #989898;
    border-style: dashed;
    text-align: center;
}
#icon-upload{
    margin-bottom: 20px;
}

input::placeholder {
    opacity: 0.5;
    color:white !important;
}

#box_login{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#frm_login_service{
    max-width: 417px;
    text-align: left;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;
    margin-bottom: 50%;
    min-width: 340px;
    transform: translate(-50%, -50%);
}

.login_line{
    background-image: url(../images/line.png);
    background-repeat: repeat-x;
    background-position-y: 50%;
}

.login_line span{
    background-color: #333333;
    padding: 12px;
}