<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pset List</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-title mb-3">
                <div class="col-12">
                    <h2 class="text-white ml-3">Pset Edit</h2>
                    <div class="breadcrumb"><a class="nav1" href="/pset_list">Pset</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Edit Pset</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Pset Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="P1_copy" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Units</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Cycle Delay (Sec)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Forward Operation</div>
                </div>

                <div class="col-6">
                    <a href="forward_operation"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Reverse Operation</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

            <div class="row row-p  mt-3">
                <div class="col-6">
                    <div class="label-txt">Advence Operation <a href="/alert_waring"><img src="/public/SVG/Warning.svg"></a></div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

            <div class="row row-p  mt-3">
                <div class="col-6">
                    <div class="label-txt">Trace Setting</a></div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

            <div class="row row-p  mt-3">
                <div class="col-6">
                    <div class="label-txt">Trace Enable</a></div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

        </div>
    </main>
</body>

</html>