<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Service Login</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=18" rel="stylesheet" />
    <link href="/public/css/login.css?v=18" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="container p-5">
                        <div id="logo-text"><span class="hilight">INSIGHT</span>iqi</div>
                        <img src="/public/images/img_sample.png" class="img_welcome"/>
                        <h2>Lorem ipsum dolor</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias temporibus minus eum delectus qui, ex ea eos exercitationem quia rerum unde quo itaque asperiores sequi quidem voluptates animi non.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="panel-right">
                    <div class="container p-5">
                        <h2>Welcome to INSIGHTiqi</h2>

                        <div id="box_login">
                            <form>

                                <div class="input-group mb-3 r">
                                    <span class="input-group-text r-left"><img src="/public/SVG/Users.svg"/></span>
                                    <input type="text" placeholder="Username"  class="form-control r-right">
                                </div>

                                <div class="input-group mb-3 r">
                                    <span class="input-group-text r-left"><img src="/public/SVG/Lock.svg"/></span>
                                    <input type="password" placeholder="password" class="form-control">
                                    <span class="input-group-text r-right"><img src="/public/SVG/invisible.svg"/></span>
                                </div>

                                <div class="mb-3">
                                    <button class="btn btn-info rounded rounded-lg text-white w-100">Login</button>
                                </div>

                                <div class="mb-3">
                                    OR
                                </div>

                                <div class="mb-3">
                                    <a href="change_password"  class="btn btn-outline-info rounded rounded-lg text-white w-100">Change Password</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>