<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link href="/public/css/login.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="container p-5">
                        <div id="logo-text"><span class="hilight">INSIGHT</span>iqi</div>
                        <img src="/public/images/img_sample.png" class="img_welcome"/>
                        <h2>Lorem ipsum dolor</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias temporibus minus eum delectus qui, ex ea eos exercitationem quia rerum unde quo itaque asperiores sequi quidem voluptates animi non.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="panel-right">
                    <div class="container p-5">
                        <h2>Welcome to INSIGHTiqi</h2>

                        <div id="box_login">
                            <form>
                                <div class="input-group r border" style="border: unset !important;">
                                    <span class="input-group-text r-left"><img src="/public/SVG/Users.svg"/></span>
                                    <input type="text" placeholder="Username"  class="form-control r-right">
                                </div>

                                <div class="bg-danger pt-2 pb-2" style="background-color: #e54028;">*Username required</div>
                                <div class="mb-2">&nbsp;</div>

                                <div class="input-group r border" style="border: unset !important;">
                                    <span class="input-group-text r-left"><img src="/public/SVG/Lock.svg"/></span>
                                    <input type="password" placeholder="password" class="form-control">
                                    <span class="input-group-text r-right"><img src="/public/SVG/invisible.svg"/></span>
                                </div>

                                <div class="bg-danger pt-2 pb-2" style="background-color: #e54028;">*Password required</div>
                                <div class="mb-2">&nbsp;</div>

                                <div class="mb-3">
                                    <a href="/home" class="btn btn-info btn-rounded text-white w-100 p-2">Login</a>
                                </div>

                                <div class="mb-3 login_line">
                                    <span>OR</span>
                                </div>

                                <div class="mb-3">
                                    <a href="change_password" class="btn btn-outline-info btn-rounded text-white w-100 p-2"><img style="width: 20px;" src="/public/SVG/Lock.svg"/> Change Password</a>
                                </div>

                                <div class="input-group mt-5 mb-3 r  mt-3 p-0" style="background-color: black;">
                                    <span class="input-group-text r-left"><img src="/public/SVG/Language.svg"/></span>
                                    <select class="select_val form-select custom-combobox" id="LangSelect">
                                        <option value="English" selected>English</option>
                                        <option value="Vietnamese">Tiếng Việt</option>
                                        <option value="Spanish">Español</option>
                                        <option value="French">Français</option>
                                        <option value="German">Deutsch</option>
                                        <option value="Chinese">中文</option>
                                        <option value="Japanese">日本語</option>
                                        <option value="Korean">한국어</option>
                                        <option value="Russian">Русский</option>
                                        <option value="Italian">Italiano</option>
                                        <option value="Portuguese">Português</option>
                                        <option value="Arabic">العربية</option>
                                        <option value="Hindi">हिन्दी</option>
                                        <option value="Thai">ไทย</option>
                                        <option value="Malay">Bahasa Melayu</option>
                                        <option value="Indonesian">Bahasa Indonesia</option>
                                        <option value="Dutch">Nederlands</option>
                                        <option value="Swedish">Svenska</option>
                                        <option value="Norwegian">Norsk</option>
                                        <option value="Danish">Dansk</option>
                                        <option value="Turkish">Türkçe</option>
                                        <option value="Greek">Ελληνικά</option>
                                        <option value="Polish">Polski</option>
                                        <option value="Czech">Čeština</option>
                                        <option value="Hungarian">Magyar</option>
                                        <option value="Finnish">Suomi</option>
                                        <option value="Hebrew">עברית</option>
                                    </select>
                                    <span class="input-group-text r-right">&nbsp;</span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>