<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Accessories</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head2',{
        title: 'Accessories',
        emp_extension:
        `
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3 r border w-100 mt-3 p-0" style="border: unset !important;">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <select class="form-select custom-combobox">
                                    <option value="" disabled selected hidden>All Devices</option>
                                </select>
                                <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                            </div>
                        </div>
                    </div>
        `
        }) %>

    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_50p">Device Name</th>
                    <th class="col_tb_30p">Assigned to</th>
                    <th class="col_tb_20p">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Scanner 1</td>
                    <td>Station 1</td>
                    <td style="text-align: right;">
                        <span class="btn-c">Pair</span>
                        <a href="accessories_edit"><img src="/public/SVG/Edit.svg"></a>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">SocketTray 1</td>
                    <td>Station 2</td>
                    <td style="text-align: right;">
                        <span class="btn-c">Unpair</span>
                        <div class="btn-o">
                            <span>1</span>
                            <img src="/public/SVG/down2.svg"/>
                        </div>
                        <a href="/edit_pset"><img src="/public/SVG/Edit.svg"></a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>