<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Change Password</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link href="/public/css/change_password.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row mb-2 borde row-top">
                <div class="col-12 pt-3 pm-3">
                    <h2><a href="login" class="mr-5 d-inline-block btn-top-back" ><img src="public/SVG/Back.svg"/></a>  Change Password</h2>
                </div>
            </div>

            <div class="p-3">
                <div class="row row-p ">
                    <div class="col-6">
                        Password
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Enter new password" class="form-control bg-dark" id="new_password" aria-describedby="emailHelp">
                    </div>
                </div>

                <div class="row row-p">
                    <div class="col-6">
                        Confirm Password
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="RePassowrd" class="form-control bg-dark" id="re_password" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right">Save</button>
                    <a href="login" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>