<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pset List</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <h2 class="text-white" style="margin-left: -42px;">Pset List</h2>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control" id="inp_search">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="#" onclick="add_pset();return false;" class="btn btn-info text-white btn-rounded f-right mb-2 mt-2 w-100 p-2"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Add Pset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" style="width: 10%;">ID</th>
                    <th style="width: 70%;">Pset Name</th>
                    <th style="min-width: 30%;">Action</th>
                  </tr>
                </thead>
                <tbody id="all_item_pset"></tbody>
            </table>
        </div>
    </main>

    <div id="bar_footer">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12 text-center">
                   <img src="/public/SVG/Back.svg" onclick="prev_page();return false" role="button" id="btn_page_prev">
                   <span style="border-radius: 20px;padding-left: 20px !important;padding-right: 20px !important;" class="p-2 bg-dark m-2">
                    <span id="currentPage">1</span>/<span id="totalPages">1</span>
                   </span>
                   <img src="/public/SVG/Forward.svg" onclick="next_page();return false" role="button"  id="btn_page_next">
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>

    <script>
        var listpsetData = JSON.parse('<%- JSON.stringify(psetList) %>');
        var itemsPerPage = 10;
        var currentPage = 1;
        var totalPages = Math.ceil(listpsetData.length / itemsPerPage);
        
        function add_item_p(data_p){
            var html_item='';
            html_item+='<tr>';
                html_item+='<td scope="row">'+data_p.ID+'</td>';
                html_item+='<td>'+data_p.Name+'</td>';
                html_item+='<td>';
                    html_item+='<a href="#" onclick="show_delete(this);return false" data-id="'+data_p.ID+'" data-name="'+data_p.Name+'" data-index="'+data_p.index+'"><img src="/public/SVG/Trash.svg"></a>';
                    html_item+='<a href="#" onclick="show_copy(this);return false" data-id="'+data_p.ID+'" data-name="'+data_p.Name+'"" data-index="'+data_p.index+'"><img src="/public/SVG/Copy.svg"></a>';
                    html_item+='<a href="/edit_pset"><img src="/public/SVG/Edit.svg"></a>';
                html_item+='</td>';
            html_item+='</tr>';
            return $(html_item);
        }

        function add_pset(){
            var rowCount = listpsetData.length;
            var obj_p_new={};
            obj_p_new["ID"]="p"+rowCount;
            obj_p_new["Name"]="p"+rowCount;
            obj_p_new["Status"]=false;
            obj_p_new["StepCount"]=0;
            listpsetData.push(obj_p_new);
            save_data();
            load_list();
        }

        function show_delete(emp){
            var p_name=$(emp).data("name");
            var p_index=$(emp).data("index");
            var html='';
            html+='Are you sure you want to delete <b>'+p_name+'</b>?<br/>';
            html+='<b>'+p_name+'</b> is Associated width <b>'+p_name+'</b>';
            $("#box_msg_title").empty();
            $("#box_msg_body").empty();
            $("#box_msg_btn").empty();

            $("#box_msg_title").html('<div class="txt"><img src="/public/SVG/Warning.svg"/> Warning</div>');
            $("#box_msg_body").html(html);

            var btn_cancel='';
            btn_cancel=$('<a href="#" class="btn btn-secondary btn-rounded">Cancel</a>');
            $(btn_cancel).click(()=>{
                close_box_msg();
            });

            var btn_del='';
            btn_del=$('<button class="btn btn-danger btn-rounded">Delete</button>');
            $(btn_del).click(()=>{
                listpsetData.splice(parseInt(p_index),1);
                save_data();
                load_list();
                close_box_msg();
            });
            
            $("#box_msg_btn").append(btn_cancel);
            $("#box_msg_btn").append(btn_del);

            $("#bk_dark_full").show();
            $("#box_msg").show();
        }

        function show_copy(emp){
            var p_name=$(emp).data("name");
            var html='';
            html+='<div class="w-100">';
            html+='<div class="input-group r border mb-2 mt-2 w-100">';
                html+='<span class="input-group-text r-left">&nbsp;</span>';
                html+='<input type="text" placeholder="Enter data" value="'+p_name+'_copy" class="form-control" id="inp_name_copy">';
                html+='<span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>';
                html+='</div>';
            html+='</div>';
            $("#box_msg_title").empty();
            $("#box_msg_body").empty();
            $("#box_msg_btn").empty();

            $("#box_msg_title").html('<div class="txt">Copy '+p_name+'</div>');
            $("#box_msg_body").html(html);

            var btn_cancel='';
            btn_cancel=$('<a href="#" class="btn btn-secondary btn-rounded">Cancel</a>');
            $(btn_cancel).click(()=>{
                close_box_msg();
            });

            var btn_copy='';
            btn_copy=$('<button class="btn btn-info btn-rounded text-white">Copy</button>');
            $(btn_copy).click(()=>{
                var rowCount = listpsetData.length;
                var obj_p_new={};
                obj_p_new["ID"]=rowCount;
                obj_p_new["Name"]=$("#inp_name_copy").val();
                obj_p_new["Status"]=false;
                obj_p_new["StepCount"]=0;
                listpsetData.push(obj_p_new);
                close_box_msg();
                save_data();
                load_list();
            });
            
            $("#box_msg_btn").append(btn_cancel);
            $("#box_msg_btn").append(btn_copy);

            $("#bk_dark_full").show();
            $("#box_msg").show();
        }

        function close_box_msg(){
            $('#bk_dark_full').hide();
            $('#box_msg').hide();
            return false;
        }

        function load_list(){
            $(listpsetData).each(function(index,p){
                p["index"]=index;
            });
            displayItems(currentPage)
        }

        function displayItems(page) {
            var startIndex = (page - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;
            var paginatedItems = listpsetData.slice(startIndex, endIndex);
            $('#all_item_pset').empty();
            $.each(paginatedItems, function(index, item) {
                $('#all_item_pset').append(add_item_p(item));
            });
            update_nav_page();
        }

        $(document).ready(function () {
            load_list();
            $("#inp_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#all_item_pset tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

        function save_data(){
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: listpsetData,
                    file_name: "PsetList"
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function next_page(){
            currentPage++;
            displayItems(currentPage);
        }

        function prev_page(){
            currentPage--;
            displayItems(currentPage);
        }

        function update_nav_page(){
            $("#currentPage").html(currentPage);
            $("#totalPages").html(totalPages);
            $("#btn_page_prev").show();
            $("#btn_page_next").show();
            if(currentPage<=1) $("#btn_page_prev").hide();
            if(currentPage>=totalPages) $("#btn_page_next").hide();
        }
    </script>
</body>

</html>