<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pset List</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=18" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>
 
    <!-- Left Sidebar -->
    <nav class="sidebar bg-dark ">
        <div class="position-sticky">
            <ul class="nav flex-column menu-sidebar">
                <li class="nav-item">
                    <a class="nav-link menu-bottom-item" href="/">
                        <img  src="public/SVG/MenuD.svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-bottom-item active" href="/">
                        <img src="public/SVG/HomeD.svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-bottom-item" href="#">
                        <img  src="public/SVG/PsetD.svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-bottom-item" href="#">
                        <img  src="public/SVG/Job48D.svg" />
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link menu-bottom-item" href="#">
                        <img  src="public/SVG/UserD.svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-bottom-item" href="#">
                        <img  src="public/SVG/HelpD.svg" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="p-1 px-md-4 mb-1 bg-dark box-shadow">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                    &nbsp;
                </div>

                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <h2 class="text-white ml-3">Pset List</h2>
                </div>

                <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                    <button class="btn btn-info text-white btn-rounded f-right"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Add Pset</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Pset Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Include the Moment.js adapter for Chart.js -->
    <script src="/public/lib/socket/socket.io.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/graph.js"></script>
</body>

</html>