<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Calibration Data</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'Calibration Data',
        navs:[
            {label:'Tool Calibartion',link:'tool_calibartion'}
        ],
        back:'tool_calibartion'
        }) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">

            <div class="row row-h">
                <div class="col-6">
                    <div class="label-txt">TR</div>
                </div>
                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3">Reset</button>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Factory value</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Current value</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Last Calibration Date</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="10/01/2024" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">New Value</div>
                </div>
                <div class="col-5">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="10/01/2024" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success text-white btn-rounded f-right mt-3" style="min-width:100px;">Set</button>
                </div>
            </div>

            <div class="row row-h">
                <div class="col-6">
                    <div class="label-txt">ASC</div>
                </div>
                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3">Reset</button>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Factory value</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Current value</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Last Calibration Date</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="10/01/2024" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">New Value</div>
                </div>
                <div class="col-5">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="10/01/2024" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success text-white btn-rounded f-right mt-3" style="min-width:100px;">Set</button>
                </div>
            </div>

            <div class="row row-h">
                <div class="col-12">
                    <div class="label-txt">Gearbox Loss (%)</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Current value</div>
                </div>
                <div class="col-5">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success text-white btn-rounded f-right mt-3" style="min-width:100px;">Set</button>
                </div>
            </div>

            <div class="row row-h">
                <div class="col-12">
                    <div class="label-txt">KT Sensitivity</div>
                </div>
            </div>
            
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Current value</div>
                </div>
                <div class="col-5">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="109" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success text-white btn-rounded f-right mt-3" style="min-width:100px;">Set</button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>