<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>KT Calibration Result</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head_full',{title:'KT Calibration Result',
        navs:[
            {label:'Tool Calibartion',link:'tool_calibartion'}
        ],
        back:'tool_calibartion',
        emp_extension:`
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">&npsb;</div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <a style="font-weight: bold;" class="btn btn-danger text-white btn-rounded f-right mb-2 mt-2 w-100 p-2">End</a>
                </div>
            </div>
        `
        }) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list m-0">
                <thead>
                  <tr>
                    <th scope="col" class="text-white">Cycle Counter</th>
                    <th class="text-white">Cycle Counter</th>
                    <th class="text-white">Cycle Counter</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>#Value</td>
                    <td>#Value</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>#Value</td>
                    <td>#Value</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>#Value</td>
                    <td>#Value</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>#Value</td>
                    <td>#Value</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>#Value</td>
                    <td>#Value</td>
                  </tr>
                </tbody>
            </table>

            <div class="row row-h m-1">
                <div class="col-6">
                    <div class="label-txt">Resultant TR Value</div>
                </div>
                <div class="col-5">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="TRValue#" class="form-control">
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-secondary btn-rounded f-right mt-3" style="min-width:100px;color: black;font-weight: bold;">Set</button>
                </div>
            </div
        </div>
    </main>

</body>
</html>