<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <img id="btn_back_menu_top" src="/public/SVG/Back.svg"/>
                            <h2 class="text-white" style="margin-left: -42px;">About Us</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Interlocks Setting</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">

            <div class="row row-h">
                <div class="col-12">
                    <div class="label-txt">Controller Infomation</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Model Number</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">Model 123</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Serial Number</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">P17C0054</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">SATA ID</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">164094403774</div>
                </div>
            </div>

            <div class="row row-h">
                <div class="col-12">
                    <div class="label-txt">Controller Version Infomation</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Application Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">200.000.000.009</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Database Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">0.0.1</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">OS Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">0.0.1</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">MCE Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">001.003.001</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Ethernet IP Stack Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">2.8</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Profinet Stack Version</div>
                </div>
                <div class="col-6">
                    <div class="val-txt">2.20.1</div>
                </div>
            </div>
            
        </div>
    </main>

    <div id="menu_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="login" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>