<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Alarm</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                  <div class="row">
                      <div class="col-1">
                          &nbsp;
                      </div>
                      <div class="col-11">
                          <img id="btn_back_menu_top" src="/public/SVG/Back.svg"/>
                          <h2 class="text-white" style="margin-left: -42px;">PM Alarm</h2>
                          <div class="breadcrumb"  style="margin-left: -42px;"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Setting Alarm</div>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="row">
                      <div class="col-8">
                          <div class="input-group r border mb-2 mt-2">
                              <span class="input-group-text r-left">&nbsp;</span>
                              <input type="text" placeholder="Search" class="form-control">
                              <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                          </div>
                      </div>
                      <div class="col-4">
                          <button class="btn btn-info text-white btn-rounded f-right mb-2 mt-2 w-100 p-2"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Add Job</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" style="width: 10%;">ID</th>
                    <th style="width: 20%;">Alarm</th>
                    <th>Name</th>
                    <th style="width: 20%;">Status</th>
                    <th style="min-width: 10%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>P1</td>
                    <td>PMName1</td>
                    <td>Active</td>
                    <td>
                        <a href="edit_pset"><img src="/public/SVG/Edit.svg"></a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>