<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Debug Logs</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', { title: 'Debug Logs'}) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">PFOP</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Download2.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">Ethernet IP</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Download2.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">MCE</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Download2.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-h" value="hide">
                <div class="col-12">
                    <div class="label-txt">Service Logs</div>
                </div>
            </div>


            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">Debug Log</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Download2.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

        </div>
    </main>
</body>

</html>