<div id="bk_dark_full"></div>
<div id="box_msg">
    <div class="title" id="box_msg_title">
        <div class="txt"><img src="/public/SVG/Warning.svg"/> Warning</div>
    </div>
    <div class="body" id="box_msg_body">
        Are you sure you want to delete <b>P3</b>?<br/>
        <b>P3</b> is Associated width <b>J3</b>
    </div>
    <div class="panel_btn" id="box_msg_btn">
        <a href="#" onclick="$('#bk_dark_full').hide();$('#box_msg').hide();return false;" class="btn btn-secondary btn-rounded">Cancel</a>
        <button class="btn btn-danger btn-rounded">Delete</button>
    </div>
</div>